body{
    background-color: rgb(134, 76, 189);
}

*
{
    margin: 0;
    padding: 0;
}

nav{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 55px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 20px;
    cursor: pointer;
}
.brand img{
    width: 100px;
}

.brand{
    display: flex;
    align-items: center;
}

.container{

    height: 520px;
    /*background: linear-gradient(to right,black , rgb(56, 0, 58));*/
    background-image: url('login.jpg');
    display: flex;
    margin: 23px auto;
    width: 95%;
    border-radius: 12px;
    padding: 15px;
    color: rgb(100, 3, 87);
}
form {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    top: 262px;
    margin: 0 auto;
    width: 600px;
    left: 400px;
  }