body{
    background-color: rgba(109, 64, 53, 0.89);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

*{
    margin: 0;
    padding: 0;
}
.container{
    min-height: 65vh;
    background: linear-gradient(to right,black , rgba(70, 14, 1, 0.877));
    color: white;
    display: flex;
    margin: 23px auto;
    width: 85%;
    border-radius: 12px;
    padding: 15px;
}
#Image{
    width: 400px;
    height: 400px;
    margin: 37px 26px;
    
}
.bottom{
    position: sticky;
    height: 91px;
    background-color: black;
    bottom: 0%;
    color:white;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

#iconback{
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 57px;
    right: 745px;

}
#iconplay{
    position: absolute;
    width: 40px;
    height: 40px;
    cursor: pointer;
    top: 51px;
    right:657px;
}
#iconnext{
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    top: 57px;
    right: 583px;
}

#myProgressBar{
    width: 90vw;
    position: absolute;
    top: 35px;
    right: 68px;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 0 32px;
}
.songItem{
   height: 29px;
   display: flex;
   background-color: white;
   width: 163%;
   color: black;
   margin: 7px 0;
   right: 235px;
   justify-content: space-between;
   align-items: center;
   border-radius: 32px;
}

#Image1{
    width: 30px;
    height: 30px;
    margin: 0 23px;
}
.songItem img{
    border-radius: 25px;
    width: 20px;
    height: 20px;
    margin: 0 23px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp img{
    cursor: pointer;
}

.songinfo{
    position: absolute;
    left: 0;
    top: 12%;
    font-size: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}